.link {
  text-decoration: none;
}
.card_highlight {
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 90vh;
}
.card_vertical {
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, rgb(38, 38, 38) 5%, transparent 100%);
}
.title {
  padding-top: 50vh;
  padding-left: 5vh;
  font-size: 60px;
  font-weight: bold;
  color: blueviolet;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}
.description {
  margin-top: 2vh;
  padding-left: 5vh;
  font-size: 20px;
  color: #999;
  max-width: 50%;
}
@media (max-width: 760px) {
  .card_highlight {
    height: 80vh;
    margin-bottom: 10vh;
  }
  .title {
    font-size: 40px;
    padding-top: 40vh;
  }
  .description {
    font-size: 14px;
    max-width: 100%;
    padding-right: 5vh;
  }
}
